/* menu lateral */
.parking-controll-content {
    width: clamp(160px, 45vw, 480px);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    background: url('../img/parking-controll-background.png') no-repeat;
    background-size: clamp(180px, 45vw, 480px) 100vh;
    background-size: cover;
}

.controll-pannel {
    display: flex;

    cursor: pointer;
    gap: 10px;

    position: fixed;
    top: 10px;
    right: 10px;
}
.controll-pannel img {
    width: clamp(28px, 5vw, 50px);
    height: clamp(28px, 5vw, 50px);
}

.logo {
    width: clamp(125px, 25vw, 200px);
    height: clamp(30px, 5vw, 50px);

    position: absolute;
}
.logo img {
    width: inherit;
    height: inherit;
}

.right-reserved {
    position: absolute;
    bottom: 25px;
}
.right-reserved p {
    font-size: clamp(0.688rem, 2vw, 0.875rem);
    font-weight: 300;
    text-align: center;
    color: #fff;
}

/* controle do estacionamento */
/* "header" */
.parking {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.controlling-parking-container {
    width: inherit;
}
.controlling-parking-container img {
    width: clamp(38px, 5vw, 60px);
    height: clamp(38px, 5vw, 60px);

    padding: 10px 0px 0px 10px;
}

.parking-title {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 10px;
    margin-bottom: 8%;
}
.parking-title p {
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: bold;
    text-align: center;
}

.lineup {
    width: clamp(200px, 50vw, 470px);
    height: 1px;

    display: flex;

    padding: 0px 10px;
    gap: 10%;
}
.line {
    width: inherit;
    height: inherit;

    border: 1px solid;
}

/* estacionamento, vagas, valores */
.parking-container, 
.parking-vacancy {
    display: grid;
    place-items: center;
}

.parking-lot-container {
    margin-bottom: 5%;
}
.parking-lot-container,
.parking-vacancy {
    width: 80%;
}
.parking-lot-container p:nth-child(1) {
    margin-bottom: 2%;
}
.parking-lot-container p:nth-child(1),
.parking-vacancy p {
    color: #7F3E71;
    margin-bottom: 3%;
}
.parking-lot-container p,
.parking-vacancy p,
.vacancies span,
.vacancy-values span {
    font-size: clamp(0.875rem, 2vw, 1.4rem);
}

/* vagas, valores */
.parking-vacancy {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    margin-bottom: 10%;
}

.vacancies,
.vacancy-values {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 10%;
}

.floor-hall,
.vacancy-values .type {
    margin-right: 100px;
}
.vacancy-type {

}
.floor, 
.hall,
.vacancy,
.type,
.first-hour,
.other-hours {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
    gap: 10px;
}

input[type=text],
select {
    width: clamp(120px, 48vw, 290px);
    height: 40px;

    border: 1px solid;
    border-radius: 5px;

    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.7rem, 1.4vw, 1.4rem);
}
.preferencial {
    display: flex;
    align-items: center;
    flex-direction: row;

    gap: 3%;

    font-size: clamp(0.7rem, 1.4vw, 1.4rem);
}

input[type=checkbox] {
    width: 25px;
    height: 40px;

    border: 1px solid #000;
}

/* botão */
.parking-vacancy .save {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save {
    width: clamp(100px, 15vw, 145px);
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background-color: #7F3E71;
    cursor: pointer;
}
.save span {
    font-size: clamp(0.9rem, 2vw, 1.4rem);
    font-weight: 300;
    color: #fff;
}