.your-vacancies {
    width: 100%;
    height: 100vh;
}

.walking-header {
    width: 100%;
    height: 70px;
    margin-bottom: 100px;
    background-color: rgba(127, 62, 113, .25);
    position: relative;
}

.walking-car img {
    width: 130px;
    height: 90px;
    position: absolute;
}

.vacancy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vacancy-lot-container {
    width: 740px;
    margin-bottom: 50px;
}

.vacancy-lot-container p {
    font-size: 1.5rem;
    font-weight: 400;
    color: #7F3E71;
    flex-grow: 1;
}

.vacancy-table {
    width: 678px;
    min-height: 159px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
}

.label {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
}

.label span {
    width: 100%;
    text-align: center;
}